Language: Cpp
BasedOnStyle: Microsoft

IncludeBlocks: Regroup
ColumnLimit: 0
AccessModifierOffset: -4
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
IndentWidth: 4
PPIndentWidth: 4
ObjCBlockIndentWidth: 4
PointerAlignment: Left
NamespaceIndentation: All
SpaceAfterTemplateKeyword: false
BreakConstructorInitializers: BeforeComma
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: All
IndentCaseLabels: true
IndentCaseBlocks: true
AllowShortIfStatementsOnASingleLine: Always