[submodule "base_lib"]
	path = base_lib
	url = git@github.com:TwilightMage/base_lib.git
[submodule "third_party/ogre"]
	path = third_party/ogre
	url = git@github.com:OGRECave/ogre.git
[submodule "third_party/OIS"]
	path = third_party/OIS
	url = git@github.com:wgois/OIS.git
[submodule "third_party/reactphysics3d"]
	path = third_party/reactphysics3d
	url = git@github.com:DanielChappuis/reactphysics3d.git
